---
layout: main
---

<div class="f5 f3-ns lh-copy measure sans-serif">
  {{ content }}
</div>
<p class="f5 f3-ns lh-copy measure sans-serif">
  If you are interested, please reserve your spot by clicking the button below:
</p>
<a
  class="f3 link dim br1 ph3 pv2 mb2 dib white bg-black"
  href="{{ page.tito }}">Reserve your ticket!</a>
<br>
<a
  class="f4 link dim br1 ph3 pv2 mb2 dib white bg-black mt3"
  href="http://github.com/nodeschool/dusseldorf/issues/{{ page.issue }}">
  GitHub Issue</a>
